@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

@font-face {
  font-family: 'Bradley Hand ITC';
  src: url('/assets/fonts/bradley-hand-itc.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary: rgb(128, 0, 32);
  --primaryRGB: 128, 0, 32;
  --secondary: rgb(244, 163, 1);
  --secondaryRGB: 244, 163, 1;
  --light: #faf5d2;
  --darkBlue: rgb(29, 37, 112);
  --darkBlueRGB: 29, 37, 112;
}

body {
  font-family: 'Open Sans', 'Bradley Hand ITC';
  margin: 0;
  overflow-x: hidden;
}

/* Elements */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Flex */
.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.align-items-center {
  align-items: center;
}

/* Object fit */

.object-fit-cover {
  object-fit: cover;
}

/* Sizing */
.w-100 {
  width: 100%;
}

.w-auto {
  width: auto;
}

.vw-100 {
  width: 100vw;
}

.h-100 {
  height: 100%;
}

/* Visibility */
.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}

/* Z-index */
.z-index-neg {
  z-index: -1;
}

.z-index-0 {
  z-index: 0;
}

/* Position */
.position-absolute {
  position: absolute;
}

.position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Text */
.text-center {
  text-align: center;
}
